<h1>login!</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= text_field_tag :name, "", placeholder: "enter your name here", :id => "name" %>
  <input type=submit value='login'>
<% end %>

